combined_data_*.txt
movie_titles.csv
probe.txt
qualifying.txt
ratings.csv
.idea/
__pycache__/
env/
node_modules/
import.report
movies.csv
viewers.csv

name.basics.tsv
title.akas.tsv
title.basics.tsv
title.crew.tsv
title.principals.tsv
title.ratings.tsv
title.episode.tsv

acted_in.csv
directed.csv
people.csv
wrote.csv
genres.csv
title_genres.csv
titles.csv
